.filter {
  position: sticky;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  border-bottom: var(--border-bottom);
  background-color: var(--header_background_color);
  gap: 25px;
  height: var(--header-height);
  z-index: 999;
}

.filter_circle {
  border: var(--border);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.filter_circle:hover {
  background-color: #e5e5e5;
}
